# Consensus
/consensus/ @youngjoon-lee @danielSanchezQ
/services/chain @youngjoon-lee @danielSanchezQ

# Mantle
/ledger/ @danielSanchezQ @youngjoon-lee @bacv

# Blend
/blend/  @youngjoon-lee @ntn-x2 @danielSanchezQ
/services/blend @youngjoon-lee @ntn-x2 @danielSanchezQ

# DA
/da/ @danielSanchezQ @bacv @pradovic
/services/data-availability @danielSanchezQ @bacv @pradovic

# SDP
/sdp/ @bacv @pradovic @danielSanchezQ
/services/sdp @bacv @pradovic @danielSanchezQ

# This file
/.github/CODEOWNERS @danielSanchezQ