# Consensus
/consensus/ @youngjoon-lee @danielSanchezQ @davidrusu
/services/chain @youngjoon-lee @danielSanchezQ @davidrusu

# Mantle
/ledger/ @danielSanchezQ @youngjoon-lee @bacv @davidrusu

# Blend
/blend/  @youngjoon-lee @ntn-x2 @danielSanchezQ @davidrusu
/services/blend @youngjoon-lee @ntn-x2 @danielSanchezQ @davidrusu

# DA
/da/ @danielSanchezQ @bacv @pradovic @davidrusu
/services/data-availability @danielSanchezQ @bacv @pradovic @davidrusu

# SDP
/sdp/ @bacv @pradovic @danielSanchezQ @davidrusu
/services/sdp @bacv @pradovic @danielSanchezQ @davidrusu

# This file
/.github/CODEOWNERS @danielSanchezQ @davidrusu